<section class="about-section">
  <div class="about-content">
    <img src="<%= @image %>" alt='My Photo', class='profile-photo' >
    <h2>About Me</h2>
    <p>
      <%= @about %>
    </p>
  </div>
</section>
