<section class="tagline">
  <img src="<%= @image %>" alt='My Photo', class='profile-photo' >
  <p>Software Engineer</p>
  <%= link_to "View my Work", work_path, class: "btn btn-primary" %>
  <%= link_to "About me", about_path, class: "btn btn-outline-primary" %>
</section>
