.tagline p {
  font-size: 24px;
  margin-bottom: 20px;
}

.view-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn.btn-primary, .btn.btn-outline-primary {
  width: 150px;
}

.btn.btn-outline-primary:hover {
  background-color: transparent;
  color: #007bff;
}

/* About */

.about-section {
  background-color: #f2f2f2;
  text-align: center;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Styles for the contact section */
.contact-section {
  text-align: justify;
}

.contact-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Work */

.work-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.work-section .card {
  max-width: 800px;
}

.carousel-img {
  object-fit: cover;
}

.project-link {
  font-size: 30px;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}
